<?xml version="1.0" encoding="utf-8"?>
<destin version="1.0" type="params">
    <!-- Some value that where used in old file not yet found where. -->
    <header name="HeaderForParametersFile" value="V2"/>
    <seq length="64">
        <!-- a step have a x and a y position its a sequence so next step also looks at the previous one -->
        <step x="0" y="0"/>
        <step x="0" y="1"/>
        <step x="0" y="2"/>
        <step x="0" y="3"/>
        <step x="0" y="4"/>
        <step x="0" y="5"/>
        <step x="0" y="6"/>
        <step x="0" y="7"/>
        <step x="1" y="7"/>
        <step x="2" y="7"/>
        <step x="2" y="6"/>
        <step x="2" y="5"/>
        <step x="2" y="4"/>
        <step x="2" y="3"/>
        <step x="2" y="2"/>
        <step x="2" y="1"/>
        <step x="2" y="0"/>
        <step x="3" y="0"/>
        <step x="4" y="0"/>
        <step x="4" y="1"/>
        <step x="4" y="2"/>
        <step x="4" y="3"/>
        <step x="4" y="4"/>
        <step x="4" y="5"/>
        <step x="4" y="6"/>
        <step x="4" y="7"/>
        <step x="5" y="7"/>
        <step x="6" y="7"/>
        <step x="6" y="6"/>
        <step x="6" y="5"/>
        <step x="6" y="4"/>
        <step x="6" y="3"/>
        <step x="6" y="2"/>
        <step x="6" y="1"/>
        <step x="6" y="0"/>
        <step x="5" y="1"/>
        <step x="4" y="1"/>
        <step x="3" y="1"/>
        <step x="2" y="1"/>
        <step x="1" y="1"/>
        <step x="1" y="2"/>
        <step x="2" y="2"/>
        <step x="3" y="2"/>
        <step x="4" y="2"/>
        <step x="5" y="2"/>
        <step x="5" y="3"/>
        <step x="4" y="3"/>
        <step x="3" y="3"/>
        <step x="2" y="3"/>
        <step x="1" y="3"/>
        <step x="1" y="4"/>
        <step x="2" y="4"/>
        <step x="3" y="4"/>
        <step x="4" y="4"/>
        <step x="5" y="4"/>
        <step x="5" y="5"/>
        <step x="4" y="5"/>
        <step x="3" y="5"/>
        <step x="2" y="5"/>
        <step x="1" y="5"/>
        <step x="1" y="6"/>
        <step x="2" y="6"/>
        <step x="3" y="6"/>
        <step x="4" y="6"/>
    </seq>
    <!-- value tells the amount of layers to use. inputX/Y tells the input dimensions for last layer -->
    <layers value="4" inputX="4" inputY="4">
    <!-- Current layout of a layer is: name, mu, sigma, states, distance type, learning rate, rows/cloms, self and upper feedback -->
    <!--Distance can be: COSINE=1, EUCLIDEAN=2, GAUSSIANPDF=3, EXPONENTIALCOSINELAZY=4, GAUSSIANCOSINELAZY=5, RAYLEIGHCOSINELAZY=6-->
        <layer name="0" mu="0.9" sigma="0.9" rho="0.95" states="25" distance="1" fixedLearningRate="0.001" rowsColmsPerLayer="8" selfAndUpperFeedback="false"/>
        <layer name="1" mu="0.9" sigma="0.9" rho="0.95" states="16" distance="1" fixedLearningRate="0.001" rowsColmsPerLayer="4" selfAndUpperFeedback="false"/>
        <layer name="2" mu="0.9" sigma="0.9" rho="0.95" states="12" distance="1" fixedLearningRate="0.001" rowsColmsPerLayer="2" selfAndUpperFeedback="false"/>
        <layer name="3" mu="0.9" sigma="0.9" rho="0.95" states="10" distance="1" fixedLearningRate="0.001" rowsColmsPerLayer="1" selfAndUpperFeedback="false"/>
    </layers>
    <settings>
        <!-- Averaging for first layer -->
        <averaging value="false"/>
        <!-- FFT for first layer -->
        <fft value="false"/>
        <binaryPos value="false"/>
        <!-- use starvation trace -->
        <starvationTrace value="true"/>
        <!-- PSSA update delay.  Use > SEQ_LENGTH to never update -->
        <pssaDelay value="1000"/>
        <ignoreAdvice value="true"/>
        <!-- temporal block size -->
        <processingBlockSize value="1"/>
        <!-- Basic online clustering -->
        <basicOnlineClustering value="true"/>
        <!-- use this if you want one clustering engine per movement -->
        <clanDestin value="false"/>
        <!-- When set to true only first rowsColmsPerLayer will be used -->
        <initialLayerIsTransformOnly value="false"/>
        <useGoodPOSMethod value="false"/>
    </settings>
</destin>
