### BLENDING CONFIG FILE ###
# To use, please change file name to 'blending.conf'.

[General]
USE_CONFIG_FILE: True

# Release or Debug
AGENT_MODE: Release


[Blender]
# RandomBlender or DebugBlender
BLENDER: RandomBlender

USE_BLEND_TARGET_FOR_DEBUG: False


[RandomBlender]
#
# Atoms chooser in RandomBlender.
# 
# Options:
# RandomAll, RandomBlendTarget, RandomInSTIRange
#
ATOMS_CHOOSER: RandomInSTIRange


[RandomInSTIRange]
#
# STI value range in RandomInSTIRange.
# 
# Options:
# NONE, JUST_TARGET, IMPORTANT, VERY_IMPORTANT
#
STI_MIN: IMPORTANT
STI_MAX: NONE


[Example]
EXAMPLE_LOAD: True
#
# Auto load example to test or debug.
#
# Options: PaulSallyExample, DebateWithKantExample
EXAMPLE: PaulSallyExample

[Log]
LOG_RELEASE_LEVEL: INFO
LOG_RELEASE_PREFIX: [BlendingAgent]::
LOG_RELEASE_POSTFIX:

LOG_DEBUG_LEVEL: WARN
LOG_DEBUG_PREFIX: \n[BA]==>
LOG_DEBUG_POSTFIX: \n

[RestAPI]
# 
# Auto load RestAPI when executed in standalone python shell to test or debug.
# 
USE_RESTAPI: True
IP_ADDRESS: 127.0.0.1
PORT: 5001

