### BLENDING CONFIG FILE ###
# To use, please change file name to 'blending.conf'.
###

###
#
# 1. Overall options.
#
###
#####################
[General]
USE_CONFIG_FILE: True

# Release or Debug
AGENT_MODE: Release

# DO NOT CHANGE VERSION NUMBER
CONFIG_FILE_VERSION: 2
#####################
[BlLogger]
LOG_RELEASE_LEVEL: INFO
LOG_RELEASE_PREFIX: [BlendingAgent]::
LOG_RELEASE_POSTFIX:

LOG_DEBUG_LEVEL: WARN
LOG_DEBUG_PREFIX: [BA]==>
LOG_DEBUG_POSTFIX: 
#####################
[BlenderFinder]
#
# Blender select.
# Options:
# NoRuleBlender
#
BLENDER: NoRuleBlender
#####################
[ChooserFinder]
#
# Default chooser select.
# 
# Options:
# ChooseAll, ChooseInBlendTarget, ChooseInSTIRange
#
ATOMS_CHOOSER: ChooseAll
#####################
[DeciderFinder]
#
# Default decider select.
# 
# Options:
# DecideRandom, DecideBestSTI
#
BLENDING_DECIDER: DecideBestSTI
#####################
[MakerFinder]
#
# Default maker select.
# 
# Options:
# MakeSimple
#
NEW_BLEND_ATOM_MAKER: MakeSimple
#####################
#####################
[ConnectorFinder]
#
# Default connector select.
# 
# Options:
# ConnectSimple
#
LINK_CONNECTOR: ConnectSimple
#####################


###
#
# 2. Blender custom options
#
###
#####################
[NoRuleBlender]
# ATOMS_CHOOSER: 
# BLENDING_DECIDER: 
# NEW_BLEND_ATOM_MAKER: 
# LINK_CONNECTOR: 
#####################


###
#
# 3. Chooser custom options.
#
###
#####################
[ChooseAll]
ATOM_TYPE: Node
LEAST_COUNT: 2
#####################
[ChooseInBlendTarget]
ATOM_TYPE: Node
LEAST_COUNT: 2
#####################
[ChooseInSTIRange]
ATOM_TYPE: Node
LEAST_COUNT: 2
#
# STI value range in ChooseInSTIRange.
# 
# Options:
# NONE, JUST_TARGET, IMPORTANT, VERY_IMPORTANT
#
STI_MIN: IMPORTANT
STI_MAX: NONE
#####################


###
#
# 4. Decider custom options.
#
###
#####################
[DecideRandom]
RESULT_ATOMS_COUNT: 2
#####################
[DecideBestSTI]
RESULT_ATOMS_COUNT: 2
#
# STI value range in ChooseInSTIRange.
# 
# Options:
# NONE, JUST_TARGET, IMPORTANT, VERY_IMPORTANT
#
STI_MIN: IMPORTANT
STI_MAX: NONE
#####################

###
#
# 5. Maker custom options.
#
###
#####################
[MakeSimple]
#####################


###
#
# 6. Connector custom options.
#
###
#####################
[ConnectSimple]
#####################


###
#
# 7. Developer options.
#
###
#####################
[TestCaseLoader]
EXAMPLE_LOAD: True
# EXAMPLE_LOAD: False
#
# Auto load example to test or debug.
#
# Options: PaulSallyExample, DebateWithKantExample
EXAMPLE: PaulSallyExample
# EXAMPLE: DebateWithKantExample
#####################
[RestAPI]
# 
# Auto load RestAPI when executed in standalone python shell to test or debug.
# 
USE_RESTAPI: True
IP_ADDRESS: 127.0.0.1
PORT: 5001
#####################
[ETC]
USE_BLEND_TARGET_FOR_DEBUG: False

