Source: opencog
Section: math
Priority: extra
Maintainer: Gustavo Machado Campagnani Gama <gama@vettalabs.com>
Build-Depends: debhelper (>= 5), cmake (>= 2.4.6), make (>= 3), g++ (>= 4.1), csockets-dev (>= 2.2.9), libexpat1-dev (>= 2), libboost-dev (>= 1.34), libboost-filesystem-dev (>= 1.34), libiodbc2-dev (>= 3.52), guile-1.8-dev (>= 1.8.5), libgsl0-dev (>= 1.10), libc6-dev (>= 2.3)
Standards-Version: 3.7.2
Homepage: http://opencog.org

Package: libatomspace
Section: math
Architecture: amd64 i386
Depends: libstdc++6 (>= 4.1), libc6 (>= 2.3)
Suggests: opencog-server, opencog-core
Description: This library provides the underlying hyper-graph infrastructure of the Open Cognition Framework.
Homepage: http://opencog.org

Package: libatomspace-dev
Section: devel
Architecture: any
Depends: libatomspace (>= ${Source-Version}), g++ (>= 4.1), libboost-dev (>= 1.34), libc6-dev (>= 2.3)
Suggests: opencog-server-dev, opencog-dev
Description: Header files, libraries and development documentation for the libatomspace library.
Homepage: http://opencog.org

Package: opencog-server
Section: math
Architecture: amd64 i386
Depends: libatomspace (>= ${Source-Version}), libssl0.9.8, libexpat1 (>= 2), libboost-filesystem1.34.1, libstdc++6 (>= 4.1), libc6 (>= 2.3)
Suggests: opencog-core
Description: This library provides the base server of the Open Cognition Framework.
Homepage: http://opencog.org

Package: opencog-server-dev
Section: devel
Architecture: any
Depends: opencog-server (>= ${Source-Version}), libatomspace-dev (>= ${Source-Version}), csockets-dev (>= 2.2.9), libexpat1-dev (>= 2), libboost-filesystem-dev (>= 1.34)
Suggests: opencog-core-dev
Description: Header files, libraries and development documentation for opencog-server package.
Homepage: http://opencog.org

Package: opencog-core
Section: math
Architecture: amd64 i386
Depends: opencog-server (>= ${Source-Version})
Recommends: libiodbc2 (>= 3.5), guile-1.8 (>= 1.8.5), libgsl0ldbl (>= 1.10)
Description: The Open Cognition Framework (OpenCog) provides research scientists and software developers with a common platform to build and share artificial intelligence programs. The OpenCog Framework framework includes:
    * a flexible and highly optimized in-memory database for knowledge representation,
    * a plug-in architecture for cognitive algorithms and a cognitive process scheduler,
    * a built-in LISP-like programming language, and
    * other components to support artificial intelligence research and development. 
Homepage: http://opencog.org

Package: opencog-core-dev
Section: devel
Architecture: any
Depends: opencog-core (>= ${Source-Version}), opencog-server-dev (>= ${Source-Version})
Recommends: libiodbc2-dev (>= 3.5), guile-1.8-dev (>= 1.8.5), libgsl0-dev (>= 1.10)
Description: Header files, libraries and development documentation for the opencog-core package.
Homepage: http://opencog.org

Package: opencog-dbg
Section: math
Architecture: amd64 i386
Depends: opencog-core-dev (>= ${Source-Version}) | opencog-server-dev (>= ${Source-Version}) | libatomspace-dev (>= ${Source-Version})
Description: This package provides debugging symbols for the opencog-core, opencog-server and libatomspace packages.
Homepage: http://opencog.org

