 table{border-collapse: collapse; 
 border-spacing:0; 
 border: 1px solid #BA9; 
 font: 90%  Trebuchet MS , Tahoma, Arial, Helvetica, sans-serif;} 
  caption{ 
   padding: 0 .4em .4em; 
   text-align: left; 
   font-size: 110%; 
   font-weight: bold; 
   text-transform: uppercase; 
   color: #453827; 
   background: transparent;  } 	
 td, th { 
   border: 1px solid #BBAA99; 
   padding: .3em; 
 font-size: 0.9em; 
 color: #666;} 
 thead th, tfoot th, tfoot td { 
 border: 1px solid #BA9; 
 text-align: left; 
 font-weight: bold; 
 font-size: 100%; 

 color: #FFF;} 
  tbody th,thead th,tbody td { 
 vertical-align: top; 
 text-align: left;} 

 tbody tr:focus td, 

 tbody tr:focus th{ 
 color: #fff;} 
 tbody tr:hover td, tbody tr:hover th { 
 	background-color: #E5E5CB; 
 } 


 tbody tr th a:hover { 
   color:#c00; 
   border-right:0.8em solid #fff; 
   } 
 tbody tr.odd th a:hover { 
   color:#c00; 
   border-right:0.8em solid #eee; 
   } 
 tbody td a:hover { 
   color:#c00; 
   font-weight:normal; 
   text-decoration:none; 
   } 


 tr.odd{ 
  }
