/* NOTE on making changes to the stylesheets */
/* Whenever making ANY change to this stylesheet, medallion.skin should be modified by		*/
/* incrementing the value of the "nocache" parameter in the statement that loads the stylesheet.*/ 
/* This will force every user to load the new stylesheet exactly once without caching, and then */
/* return to their normal caching behavior thereafter.						*/

/* Narrow/Neoclassical */ 
#narrow
{
    margin: 0px;
    z-index: 1;
    background-color: white;
    height: 75px;
    width: 160px;
}
.narrow-avatar
{
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    float: left;
    height: 55px;
    width: 55px;
    background-color: #eff3f3;
    overflow: hidden;
}
img
{
    min-width: 100%;
    height: 100%;
}
.narrow-count
{
    float: right;
    background-repeat: no-repeat;
    background-position: 93px 0px;
    background-image: url(../images/widget/peeling-corner.png);
    font-size: 36px;
    font-family: Adelle-1, Adelle-2, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 55px;
    color: white;
    text-align: center;
    width: 104px;
    height: 55px;
}
#narrow-sitename
{
    left: 0px;
    top: 55px;
    position: absolute;
    z-index: 0;
    float: left;
    margin-top: 1px;
    width: 160px;
    background-color: #640096;
    height: 20px;
}
.sitename-name
{
	z-index: 0;
    word-wrap: break-word;
    word-break: break-all;
    white-space:nowrap;
    line-height: 20px;
    padding-left: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}
.sitename-gradient
{
	height: 20px;
	width: 30px;
	z-index: 300;
	top: 56px;
	left: 62px;
	position: absolute;
}
#branding
{
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
    clear: right;
    z-index: 1;
    position: relative;
    float: right;
    margin-top: 1px;
    background-color: #640096;
    background-image: url(../images/widget/medallion-branding.png);
    height: 20px;
    width: 67px;
}

