/* NOTE on making changes to the stylesheets */
/* Whenever making ANY change to this stylesheet, medallion.skin should be modified by		*/
/* incrementing the value of the "nocache" parameter in the statement that loads the stylesheet.*/
/* This will force every user to load the new stylesheet exactly once without caching, and then	*/
/* return to their normal caching behavior thereafter.						*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
h2 a:hover
{
    color: #640096;
    text-decoration: none;
    font-weight: bold;
}
td, td img
{
    padding-right: 0px;
    vertical-align: top;
}
nav ul
{
    list-style: none
}
h2, h2 a
{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    line-height: 14px;
    font-weight: bold;
    font-size: 14px;
}
article, aside, figure, footer, header, hgroup, nav, section
{
    display: block
}
blockquote, q
{
    quotes: none
}
a
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
a:visited
{

}
a:active
{

}
a:hover
{
    color: black
}
a:link
{
    -webkit-tap-highlight-color: #FF5E99
}
ins
{
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark
{
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del
{
    text-decoration: line-through
}
abbr[title], dfn[title]
{
    border-bottom: 1px dotted #000;
    cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input, select
{
    vertical-align: middle
}
/* END RESET CSS */
/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
body
{
    font: 13px sans-serif;
    *font-size: small;
    *font: x-small;
    line-height: 1.22;
}
table
{
    font-size: inherit;
    font: 100%;
}
select, input, textarea
{
    font: 99% sans-serif
}
/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp
{
    font-family: monospace, sans-serif
}
/*
 * minimal base styles
 */
/* www.aestheticallyloyal.com/public/optimize-legibility/ */
h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html
{
    -webkit-font-smoothing: antialiased
}
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
ul
{
    margin-left: 30px
}
ol
{
    margin-left: 30px;
    list-style-type: decimal;
}
small
{
    font-size: 85%
}
strong, th
{
    font-weight: bold
}
.amount
{
    text-align: right
}
sub
{
    vertical-align: sub;
    font-size: smaller;
}
sup
{
    vertical-align: super;
    font-size: smaller;
}
pre
{
    padding: 15px;
    /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"]
{
    vertical-align: text-bottom
}
input[type="checkbox"]
{
    vertical-align: bottom;
    *vertical-align: baseline;
}
.ie6 input
{
    vertical-align: text-bottom
}
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
    cursor: pointer
}
/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
::-moz-selection {
    background: #7100ab;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #7100ab;
    color: #fff;
    text-shadow: none;
}
/*  j.mp/webkit-tap-highlight-color */
/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
    width: auto;
    overflow: visible;
}
/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
    -ms-interpolation-mode: bicubic
}

label {
    font-weight: bold;
    color: black;
    line-height: 18px;
    font-size: 11px;
    font-family: sans-serif;
}
.orange-override {
    color: #f37e00
}
.purple-override {
    color: #640096
}
.green-override {
    color: #019e00
}
.red-override {
    color: #cc1911
}
.blue-override {
    color: #0858ff
}
a {
    text-decoration: none;
    color: #640096;
}
p {
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 14px;
    font-family: sans-serif;
    font-size: 12px;
}
h1 {
    padding-bottom: 7px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 16px;
    font-size: 15px;
}
.feature-headline, .feature-headline a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    line-height: 14px;
    font-weight: bold;
    font-size: 14px;
}
.meta {
    line-height: 11px;
    color: #626463;
    font-size: 10px;
}
.feature-headline a:hover {
    color: #640096;
    text-decoration: none;
    font-weight: bold;
}
#overlay {
    z-index: 1;
    background-color: #757877;
    height: 324px;
    width: 468px;
    border-radius: 2px;
    -webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		zoom: normal;
}
#profile {
    z-index: 2;
    margin-left: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    float: left;
    background-color: #eaeaea;
    height: 320px;
    width: 231px;
}
#container-wide {
    height: 322px !important;
    width: 468px !important;
		position: absolute;
    z-index: 1;
    zoom: normal;
    left: 0;
}
#wide {
    background: rgb(246,246,246); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
    margin-left: 2px;
    height: 299px;
    z-index: 2;
    width: 464px;
}
#supporters {
    height: 88px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
		background-color: white;
}
#supporters li {
	margin-right:5px;
	list-style-image: none;
	list-style-type: none;
	float: left;
}
#supporters ul {
	margin: 0px;
}
.siteinfo {
	padding-top: 7px;
	font-size: 12px;
	line-height: 17px;
	padding-left: 5px;
}
#about {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
		border-bottom: 1px solid white;
		border-top: 1px solid #ccc;
}
#register-wide {
		height: 110px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.signup {
	width: 130px;
	color: #757877;
  height: 22px;
  border: 1px solid #757877;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:5px;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-box-shadow: inset 0px 2px 2px #ddd;
	-moz-box-shadow: inset 0px 2px 2px #ddd;
	box-shadow: inset 0px 2px 2px #ddd;
	float: right;
	opacity: .7;
}
.signup:focus {
	color: black;
	opacity: 1;
}
#register-wide label {
	text-shadow: 1px 1px 0px white;
	float: left;
	padding-top:4px;
	margin-right:4px;
}
#register-narrow {
	height: 100%;
	padding: 5px;
	background: rgb(246,246,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
}
#profile-head {
    border-right-color: #222222;
    border-right-style: solid;
    border-right-width: 1px;
    margin-left: -2px;
    margin-top: -2px;
    z-index: 3;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #414141;
    width: 233px;
    height: 22px;
}
#profile-head-wide {
    z-index: 3;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #640096;
    width: 468px;
    height: 22px;
}
#banner {
    padding: 0px;
    margin: 0px;
    height: 80px;
    width: 464px;
    background-image: url(../images/widget/overlay/wide-branding.png);
}
#banner-split {
    padding: 0px;
    margin: 0px;
    height: 80px;
    width: 231px;
    background-image: url(../images/widget/overlay/split-branding.png);
}
#cta-wide {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 7px;
    padding-bottom: 0px;
    padding-right: 7px;
    padding-top: 9px;
    width: 218px;
    position: relative;
    float: left;
    height: 210px;
    line-height: 14px;
}
#learnmore-wide {
    padding-left: 7px;
    padding-bottom: 0px;
    padding-right: 6px;
    padding-top: 9px;
    margin: 0px;
    width: 200px;
    position: relative;
    float: left;
    height: 210px;
    line-height: 14px;
}
.bigfont {

   text-shadow: 1px 1px white;
    color: black;
    line-height: 17px;
    font-size: 12px;
}
#cta {
    height: 130px;
    line-height: 14px;
    padding: 7px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.cta-wrapper a
{
    color: white;
    text-decoration: none;
}
.cta-wrapper a:hover
{
    color: inherit;
    text-decoration: underline;
}
.orange { background-color: #640096; }	/* #ff7200; use purple for the "orange" overlay */
.purple { background-color: #640096; }
.green { background-color: #5ab501; }
.blue { background-color: #007ed6; }
.red { background-color: #E21505; }
#cta-purple-reg
{
    height: 265px;
    line-height: 14px;
    padding: 7px;
    background-color: #f6f6f6;
}
.wrapper
{
    height: 280px;
    position: relative;
    overflow: hidden;
}
.cta-wrapper
{
    min-height: 60px;
    max-height: 100px;
}
.big-wrapper
{
    height: 280px;
    position: relative;
    overflow: hidden;
}
.main-menu-wrapper
{
   height: 150px;	/* needs to be (height of .wrapper) - (height of #cta) */
   position: relative;
   overflow: hidden;
}
.module-menu
{
    position: absolute;
    top: 0;
    -webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
}
.feature
{
    height: 266px;
    line-height: 14px;
    padding: 7px;
    margin: 0px;
    color: black;
    background-color: white;
    border-bottom-color: #dbdedd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.sitename
{
    font-weight: bold;
    line-height: 14px;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
}
.about
{
    list-style-type: square;
    list-style-position: outside;
    margin-top: 5px;
    line-height: 15px;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
}
.cta-margin
{
    margin-left: 62px
}
.form
{
    width: 200px
}
.form-text
{
    line-height: 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
}
/*  Buttons  */
a.button,
button,
input.button,
span.button {
  display: inline-block;
  cursor: pointer;
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e6e6e6));
  background-image: -moz-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -o-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: linear-gradient(top, #f6f6f6, #e6e6e6);
  white-space: nowrap;
  overflow: visible;
  text-decoration: none;
  padding: 4px;
  font-family: sans-serif;
  font-size: 12px;
  color: #1C1C1D;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border: 1px solid #cacaca;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  position: relative;
  zoom: 1;
  line-height: 1.11;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
a.button {
  -moz-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0px;
}
a.button.primary,
button.primary,
input.button.primary { 
	font-weight: bold;
	color: #1a1a1a;
	border-color: #bbb;
	background-color: #d6d6d6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f6f6f6), to(#d6d6d6));
  background-image: -moz-linear-gradient(top, #f6f6f6, #d6d6d6);
  background-image: -ms-linear-gradient(top, #f6f6f6, #d6d6d6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #d6d6d6);
  background-image: -o-linear-gradient(top, #f6f6f6, #d6d6d6);
  background-image: linear-gradient(top, #f6f6f6, #d6d6d6);
}
button:focus,
a.button:hover,
button:hover,
input.button:hover,
span.button:hover {
  color: #FFFFFF;
  border-color: #005fa6;
  background-color: #007ed6;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  background-position: 0 -40px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
a.button:active,
button:active,
a.button.active,
button.active,
input.button:active {
  border-color: #005fa6;
  background-color: #006fbf;
  color: #FFFFFF;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
a.button:active,
button:active { 
	top: 1px; 
}
button.cta,
a.button.cta,
input.button.cta {
	color: white !important;
  font-weight: bold;
  text-shadow: 1px 1px 0px #005fa6;
  border-color: #005fa6;
  background-color: #007ed6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#007ed6), to(#0064cd));
  background-image: -moz-linear-gradient(top, #007ed6, #0064cd);
  background-image: -ms-linear-gradient(top, #007ed6, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007ed6), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #007ed6, #0064cd);
  background-image: -o-linear-gradient(top, #007ed6, #0064cd);
  background-image: linear-gradient(top, #007ed6, #0064cd);
  color: white;
}
a.button.cta:focus,
a.button.cta:hover,
button.cta:hover,
input.button.cta:hover {
  text-shadow: -1px -1px 0px #005fa6;
  background-color: #006fbf;
  background-repeat: no-repeat;
  border-color: #005291;
}
a.button.cta:active,
button.cta:active,
button.cta.active,
input.button.cta:active {
  background-color: #006fbf;
  border-color: #00477d;
}
a.button.big,
button.big,
input.button.big {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
button.big { 
	*padding: 4px 17px 2px 17px;
	-webkit-box-shadow: 1px 1px 1px 0px #cccccc;
	-moz-box-shadow: 1px 1px 0px 0px #cccccc;
	box-shadow: 1px 1px 1px 0px #cccccc; 
}
.submit
{
	margin: 0px;
    padding-bottom: 3px;
    padding-top: 2px;
    font-family: sans-serif;
    padding-right: 5px;
    padding-left: 5px;
    height: 26px;
    line-height: 11px;
    border-color: #006fbf;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    text-shadow: 0px 1px #006fbf;
    text-align: center;
    color: white !important;
    background-color: #007ed6;
    -webkit-box-shadow: 1px 1px 0px #c2c2c2;
	-moz-box-shadow: 1px 1px 0px #c2c2c2;
	box-shadow: 1px 1px 0px #c2c2c2;
}
.submit:hover
{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px #4d0075;
    border-color: #4b0071;
    background-color: #640096;
    -webkit-box-shadow: 1px 1px 2px #ffffcc;
	-moz-box-shadow: 1px 1px 2px #ffffcc;
	box-shadow: 1px 1px 2px #ffffcc;
}
.submit-2
{
    text-shadow: 0px 0px 0px;
    padding-bottom: 3px;
    padding-top: 2px;
    margin-left: 0px;
    margin-bottom: 22px;
    margin-right: 0px;
    margin-top: 11px;
    font-family: sans-serif;
    padding-right: 5px;
    padding-left: 5px;
    height: 26px;
    line-height: 11px;
    border-color: #7e7e7e;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    color: white !important;
    background-color: #9c9c9c;
}
.submit-2:hover
{
    text-decoration: none;
    border-color: #4b0072;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white !important;
    background-color: #640096;
}
.kachingle
{
    font-weight: bold;
    margin-right: 2px;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 12px;
    text-shadow: 0px 1px 0px #640096;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 5px;
    color: white;
    border-color: #c76eff;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #9a00e9;
    -webkit-box-shadow: 0px 0px 3px #000000;
		-moz-box-shadow: 0px 0px 3px #000000;
		box-shadow: 0px 0px 3px #000000; 
}
.kachingle:hover
{
    color: white;
    text-shadow: 0px 1px 0px #356b01;
    border-color: white;
    background-color: #50a201;
}
.kachingle-2
{
    margin-right: 2px;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 12px;
    text-shadow: 0px 1px 0px #640096;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 5px;
    color: white;
    border-color: #7c00be;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #7100ab;
    -webkit-box-shadow: 0px 0px 1px #000000;
		-moz-box-shadow: 0px 0px 1px #000000;
		box-shadow: 0px 0px 1px #000000; 
}
.kachingle-2:hover
{
    text-shadow: 0px 1px 0px #356b01;
    color: white;
    border-color: white;
    background-color: #50a201;
}
.stop-kachingle
{
    margin-left: 62px;
    margin-right: 2px;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 12px;
    text-shadow: 0px 1px #2d5c00;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 5px;
    color: white;
    border-color: #5ab501;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #489a01;
    -webkit-box-shadow: 0px 0px 2px #000000;
	-moz-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000; 
}
.stop-kachingle:hover
{
    color: white;
    text-shadow: 1px 1px #380054;
    border-color: white;
    background-color: #640096;
}
.stop-kachingle2
{
    margin-top: 2px;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 12px;
    text-shadow: 0px 1px #2d5c00;
    text-align: center;
    color: white;
    border-color: #418801;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #489a01;
    -webkit-box-shadow: 0px 0px 2px #000000;
	-moz-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000; 
}
.stop-kachingle2:hover
{
    color: white;
    text-shadow: 1px 1px #380054;
    border-color: white;
    background-color: #640096; 
}
.activate-paypal
{
    margin-right: 2px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 12px;
    text-shadow: 0px 1px #3b3c3c;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
    color: white;
    border-color: #4f5150;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #757877;
    -webkit-box-shadow: 0px 0px 2px #000000;
	-moz-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000; 
}
.activate-paypal:hover
{
    color: white;
    text-shadow: 1px 1px #376f01;
    text-decoration: none;
    border-color: white;
    background-color: #50a201;
}
.kachingle-profile
{
    margin-right: 2px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 12px;
    text-shadow: 0px 1px #3b3c3c;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
    color: white;
    border-color: #49006f;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #7100ab;
    -webkit-box-shadow: 0px 0px 2px #000000;
	-moz-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000; 
}
.kachingle-profile:hover
{
    color: white;
    text-shadow: 1px 1px #376f01;
    text-decoration: none;
    border-color: #356c01;
    background-color: #50a201;
}
.visit-site-profile
{
    margin-right: 2px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 12px;
    text-shadow: 0px 1px #3b3c3c;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
    color: white;
    border-color: #444647;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #757877;
    -webkit-box-shadow: 0px 0px 2px #000000;
	-moz-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000; 
}
.visit-site-profile:hover
{
    color: white;
    text-shadow: 1px 1px #4f5150;
    text-decoration: none;
    background-color: #606163;
}
.termsofuse
{
    color: #757877;
    text-align: left;
    line-height: 13px;
    font-family: sans-serif;
    font-size: 11px;
}
.termsofuse a
{
    color: #757877;
    text-decoration: underline;
}
.termsofuse a:hover
{
    color: black;
    text-decoration: none;
}
/* all modules start out invisible until turned on */
#register, #reg1-no-fb-register, #reg2-no-fb-register, #top-kachinglers, #topsites, #wmlmh, #site-profile, #user-profile { display:none; }
#modules
{
    background-color: #ececec;
    z-index: 2;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    float: right;
    height: 320px;
    width: 231px;
}
.modules-head
{
    margin-top: -2px;
    border-left-style: solid;
    border-left-color: #3b3c3c;
    border-left-width: 1px;
    z-index: 3;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #414141;
    width: 232px;
    height: 22px;
}
.head-information
{
    line-height: 22px;
    height: 22px;
    color: white;
    padding-right: 13px;
    padding-left: 8px;
    font-size: 11px;
    font-family: sans-serif;
}
.head-information a
{
    text-decoration: underline;
    color: white;
}
.head-information a:hover
{
    text-decoration: none;
    color: white;
}
.breadcrumb
{
    color: white;
    font: 11px Arial;
    height: 22px;
    line-height: 22px;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.breadcrumb li
{
    padding-left: 3px;
    list-style-type: none;
    float: left;
}
.breadcrumb a
{
    height: 22px;
    display: block;
    background-image: url('../images/widget/overlay/modules-head-nav-element-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 13px;
    text-decoration: underline;
    color: white;
}
.breadcrumb a:hover
{
    height: 22px;
    display: block;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 13px;
    color: white;
}
.headline-list
{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    padding-right: 7px;
    padding-left: 7px;
    color: black;
    width: 217px;
    background-color: #f6f6f6;
    height: 27px;
}
.ellipsis
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.module-container-big
{
    font-size: 11px;
    line-height: 26px;
    cursor: pointer;
    color: #262727;
    width: 231px;
    background-color: #f6f6f6;
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
    border-bottom-color: #dbdedd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #fff;
    border-top-style: solid;
    border-top-width: 1px;
    height: 54px;
}
.module-container-big:hover
{
    color: #640096;
    background-color: white;
		background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(239,239,239,1) 15%, rgba(239,239,239,1) 85%, rgba(229,229,229,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(15%,rgba(239,239,239,1)), color-stop(85%,rgba(239,239,239,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(239,239,239,1) 15%,rgba(239,239,239,1) 85%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(239,239,239,1) 15%,rgba(239,239,239,1) 85%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(239,239,239,1) 15%,rgba(239,239,239,1) 85%,rgba(229,229,229,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(229,229,229,1) 0%,rgba(239,239,239,1) 15%,rgba(239,239,239,1) 85%,rgba(229,229,229,1) 100%); /* W3C */
		border-bottom-color: #dbdedd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #fff;
    border-top-style: solid;
    border-top-width: 1px;
}
.module-container-small
{
    font-family: sans-serif;
    font-size: 11px;
    line-height: 26px;
    padding-right: 7px;
    padding-left: 7px;
    cursor: pointer;
    color: #262727;
    width: 217px;
    background-color: #f6f6f6;
    border-bottom-color: #dbdedd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 26px;
}
.module-container-small:hover
{
    color: #640096;
    background-color: white;
    border-bottom-color: #dbdedd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.menu-container-small
{
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 26px;
    padding-right: 7px;
    padding-left: 7px;
    cursor: pointer;
    color: #262727;
    width: 217px;
    background-color: #f6f6f6;
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
    border-bottom-color: #dbdedd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;
}
.menu-container-small:hover
{
    border-top-color: #640096;
    color: white;
    background-color: #640096;
    background: rgb(102,10,147); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102,10,147,1) 0%, rgba(100,0,150,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,10,147,1)), color-stop(100%,rgba(100,0,150,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,10,147,1) 0%,rgba(100,0,150,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,10,147,1) 0%,rgba(100,0,150,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(102,10,147,1) 0%,rgba(100,0,150,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660a93', endColorstr='#640096',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(102,10,147,1) 0%,rgba(100,0,150,1) 100%); /* W3C */
    border-bottom-color: #4d0074;
}
.container-p
{
    padding-top: 0px;
    margin: 0px;
    padding-left: 61px;
    color: black;
    font-family: sans-serif;
    font-size: 11px;
}
.container-title
{
    letter-spacing: 0em;
    line-height: 13px;
    padding-top: 7px;
    padding-left: 61px;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}
.container-title.ellipsis {
    /* For some reason this combo has a problem. Need to override the padding */
    padding-left: 6px;
}
.avatar
{
    background-position: 19px 22px;
    background-repeat: no-repeat;
    float: left;
    background-color: #dbdedd;
    height: 55px;
    width: 55px;
    overflow: hidden;
    background-image: url(../images/image-loader.gif);
}
.box-shadow
{
    -webkit-box-shadow: 0px 0px 3px #000;
	-moz-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000; 
}
.box-shadow:hover
{
    border-bottom: white 1px solid;
}
.avatar-profile
{
    float: left;
    position: relative;
    margin-bottom: 3px;
    margin-right: 7px;
}
.avatar img
{
	min-width: 100%;
	height: 100%;
}
.footer
{
    text-align: center;
    width: 231px;
    font-family: sans-serif;
    line-height: 18px;
    font-size: 11px;
    cursor: pointer;
    color: black;
    background-color: #f6f6f6;
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
    height: 19px;
}
.up
{
    background-color: #f6f6f6;
    background-position: 49px 3px;
    background-repeat: no-repeat;
    background-image: url(../images/widget/overlay/up.png);
    line-height: 27px;
    font-size: 11px;
    font-family: sans-serif;
    height: 18px;
    border-right-color: #dbdedd;
    border-right-style: solid;
    border-right-width: 1px;
    cursor: pointer;
    text-align: center;
    float: left;
    width: 115px;
}
.up:hover
{
    background-position: 49px -34px;
    background-color: #640096;
    float: left;
}
.down
{
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: 49px 3px;
    background-image: url(../images/widget/overlay/down.png);
    line-height: 27px;
    font-size: 11px;
    font-family: sans-serif;
    height: 18px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
    cursor: pointer;
    text-align: center;
    float: right;
    width: 114px;
}
.down:hover
{
    background-position: 49px -34px;
    background-color: #640096;
    float: right;
}
/* Note "unused" and "deactivated" currently identical, but these may need to be
   differentiated at some point, so keep them separate and used in their respective
   circumstances. unused = menu too short to ever scroll; deactivated = menu is at
   its upper or lower scrolling limit, can't scroll further in that direction.*/
/* Modifies .up and .down when too few items in the list to allow scrolling at all */
.unused, .unused:hover
{
    background-position: 49px -15px;
    background-color: #f6f6f6;
    cursor: default;
}
/* Modifies .up and .down when scrolling reaches the end */
.deactivated, .deactivated:hover
{
    background-color: #f6f6f6;
    background-position: 49px -15px;
    cursor: default;
}
/*
 * Media queries for responsive design
 */
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px)
{ 
    /* Prevent iOS, WinMobile from adjusting font size */
    html
    {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
    }
}
